<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>10 Angular Http</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>
        <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@3.0/dist/css/pretty-print-json.css>
        <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@3.0/dist/pretty-print-json.min.js></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <style> .small-width { width: 200px; /* Adjust this value as needed */ } </style>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <p>Today's welcome message is:</p>
            <h1>{{myWelcome}}</h1>
            <p>Status:</p>
            <h1>{{statusCode}}</h1>
            <p>Statux Text:</p>
            <h1>{{statusText}}</h1>
            <input type="button" id="btnGetData1" value="Service call with error" ng-click="GetDataToShowError()"/>
            <p>{{errorMessage}}</p>
            <!-- <ul>
                <li ng-repeat="x in bookchapters track by x.title">-->
                        <!-- <span ng-bind-html="formatrecord(x)"> -->
                        <!-- <pre class="json-container">{{formatrecord(x)}}</pre> -->
                <!--    <pre class="json-container" ng-bind-html="formatrecord(x)"></pre>-->
                        <!-- {{formatrecord(x)}} -->
                         <!-- <div ng-bind-html="formatrecord(x)"></div> -->
            <!--    </li>
            </ul> -->
            <div class="container">
                <input type="button" class="btn btn-info" id="btnGetData1" value="Get BookChapters" ng-click="GetBookChapterData()"/>
                &nbsp;
                <input type="button" class="btn btn-info" id="btnAddData" value="Add Item" ng-if="isData" ng-click="showAddItem()"/>                
                <p class="text-center text-info bg-light">{{bookchapterError}}</p>

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <th class="text-center">Name</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Pages</th>
                        <th class="text-center small-wdth"></th>
                    </thead>
                    <tbody ng-repeat="item in bookchapters track by item.title">
                        <tr>
                        <td class="text-center">{{item.number}}</td>
                        <td class="text-center">{{item.title}}</td>
                        <td class="text-center">{{item.pages}}</td>
                        <td class="text-center small-width">
                            <input type="button" class="btn btn-primary" value="Edit" id="btnEdit" ng-click="showEditItem(item)"/>
                            &nbsp;
                            <input type="button" class="btn btn-secondary" value="Delete" id="btnDelete" ng-click="deleteItem(item)"/>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" ng-if="isEditing">
                <form id="form1" ng-submit="updateItem()">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <th class="text-left" colspan="2">Edit Item</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Number:</label>
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="selectedItem.number" required/>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Title:</label>                
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="selectedItem.title" required/>                
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Pages:</label>                
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="selectedItem.pages" required/>                
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2">
                                    <input type="submit" class="btn btn-primary" value="Update" id="btnEdit"/>
                                    &nbsp;
                                    <input type="button" class="btn btn-secondary" value="Cancel" id="btnCancelEdit" ng-click="cancelEdit()"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="container" ng-if="isAddition">
                <form id="form2" ng-submit="addItem()">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <th class="text-left" colspan="2">Add Item</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Number:</label>
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="newItem.number" required/>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Title:</label>                
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="newItem.title" required/>                
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="font-weight-bold">Pages:</label>                
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="newItem.pages" required/>                
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2">
                                    <input type="submit" class="btn btn-primary" value="Add" id="btnAdd"/>
                                    &nbsp;
                                    <input type="button" class="btn btn-secondary" value="Cancel" id="btnCancelAdd" ng-click="cancelAdd()"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal" tabindex="-1" role="dialog" ng-show="isModalVisible" style="display: block;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-warning">
                            <h5 class="modal-title text-light">Confirmation</h5>
                            <button type="button" class="close" ng-click="closeModal()">&times;</button>
                        </div>
                        <div class="modal-body bg-light">
                            <p>{{ modalMessage }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="confirmAction()">OK</button>
                            <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = angular.module("myApp",[]);
            app.controller("myCtrl",function($scope, $http, $sce){
                $scope.items = [];
                $scope.isEditing = false;
                $scope.isAddition = false;
                $scope.isModalVisible = false;
                $scope.modalMessage = "";
                $scope.confirmCallback = null;

                $scope.showModal = function(message,callback){
                    $scope.modalMessage = message;
                    $scope.confirmCallback = callback;
                    $scope.isModalVisible = true;
                    console.log("Showing modal");
                };

                $scope.closeModal = function(){
                    $scope.isModalVisible = false;
                    $scope.modalMessage = "";
                    $scope.confirmCallback = null;
                };

                $scope.confirmAction = function(){
                    if($scope.confirmCallback)
                    {
                        $scope.confirmCallback();
                    }
                    $scope.closeModal();
                };

                $http.get("http://localhost:8077/api/ServiceTest/WelcomeMessage")
                .then(function(response){
                    $scope.myWelcome = response.data;
                    $scope.statuscode = response.status;
                    $scope.statusText = response.statusText;
                });                

                $scope.GetDataToShowError = function(){
                    $http({
                        method:"GET",
                        url:"http://localhost:8077/api/ServiceTest/WelcomeMessage1"    
                    }).then(function(response){
                        $scope.errorMessage = "No Error";
                    },function(error){
                        $scope.errorMessage = JSON.stringify(error);
                    });
                };    

                $scope.GetBookChapterData = function(){
                    $http({
                        method:"GET",
                        url: "http://localhost:8077/api/BookChaptersAsync"
                    }).then(function(response){
                        //jsonobject = JSON.parse(response.data);
                        //alert(jsonobject);
                        //$scope.bookchapters = jsonobject;
                        $scope.bookchapters = response.data;
                        $scope.isData = true;
                        //alert($scope.bookchapters);
                    },function(error){
                         $scope.bookchapterError = JSON.stringify(error);   
                    });
                };

                $scope.formatrecord = function(x){
                    // var text = JSON.stringify(x);
                    // var prettyHtml = jsonPrettyHtml;
                    // var returnval = prettyHtml(text,x.dimension);        
                    //returnval = "Name: " + x.Name + ", City: " + x.City + ", Country: " + x.Country;
                    //returnval = JSON.stringify(x,null,2);
                    //prettyJsonString = prettyPrintJson.toHtml(x);
                    //returnVal = $sce.trustAsHtml(prettyJsonString);
                    //alert(JSON.stringify(x));
                    //jsonobject = JSON.parse(x);
                    // jsonobject = JSON.stringify(x);                    
                    // jsonobject = "{\"" + jsonobject.substr(46);
                    //alert(jsonobject);
                    //alert(prettyPrintJson.toHtml(jsonobject));
                    returnval = '<pre>' + prettyPrintJson.toHtml(x) + '</pre>' ;
                    returnval = $sce.trustAsHtml(returnval);                    
                    return returnval;
                };

                $scope.showEditItem = function(item){
                    $scope.selectedItem = angular.copy(item);
                    $scope.isEditing = true;
                };

                $scope.updateItem = function(){                     
                    for(var i in $scope.bookchapters){
                        if($scope.bookchapters[i].id == $scope.selectedItem.id)
                        {
                            $scope.bookchapters[i] = $scope.selectedItem;
                        }
                    }
                    $scope.isEditing = false;     
                    $scope.UpdateItemAtServer();                                           
                    $scope.selectedItem = {};           
                };

                $scope.UpdateItemAtServer = function(){

                    $scope.showModal("Are you sure you want to update the item?",function(){
                        $http({
                            method: "PUT",
                            url: "http://localhost:8077/api/BookChaptersAsync/" + $scope.selectedItem.id,
                            data: $scope.selectedItem
                        }).then(function(response){
                            $scope.bookchapterError = "Data updated successfully";
                        },function(error){
                            $scope.bookchapterError = JSON.stringify(error);
                        });
                    });
                };

                $scope.cancelEdit = function(){
                    $scope.isEditing = false;  
                    $scope.selectedItem = {};                      
                };

                $scope.showAddItem = function(){
                    $scope.isAddition = true;
                    $scope.newItem = {};                    
                };

                $scope.addItem = function(){
                    $scope.showModal("Are you sure you want add the item?",function(){
                        $http({
                            method: "POST",
                            url: "http://localhost:8077/api/BookChaptersAsync",
                            data: $scope.newItem
                        }).then(function(response){
                            $scope.bookchapterError = "new item added"; //JSON.stringify(response.data); //JSON.stringify(response);
                            $scope.isAddition = false;
                            $scope.newItem = {};                        
                            $scope.bookchapters.push(response.data); //item added at end
                            //$scope.bookchapters.unshift(response.data); //item added at start
                        }, function(error){
                            $scope.bookchapterError = JSON.stringify(error);
                        });

                    });
                };

                $scope.cancelAdd = function(){
                    $scope.isAddition= false;
                    $scope.newItem = {};
                };

                $scope.deleteItem = function(item){
                    var confirmed = window.confirm("Are you sure you want to delete this item ?");
                    if(confirmed)
                    {
                        $http({
                            method: "DELETE",
                            url: "http://localhost:8077/api/BookChaptersAsync/" + item.id
                        }).then(function(response){
                            $scope.bookchapterError = "item deleted successfully";
                            var index = $scope.findItemIndex(item);
                            if(index != -1)
                                $scope.bookchapters.splice(index,1);
                        },function(error){
                            $scope.bookchapterError = JSON.stringify(error);
                        });     
                    }                    
                };

                $scope.findItemIndex = function(findItem)
                {
                    var index = -1;
                    index =  $scope.bookchapters.findIndex(function(item){
                                return item.id == findItem.id;
                            });
                    return index;
                };
            });
        </script>
    </body>
</html>    